{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1 class="display-5 fw-bold">

            🤖 AI Chatbot Chef

        </h1>

        <p class="text-muted">

            Ask cooking & health questions

        </p>

    </div>

    <div class="card shadow-lg border-0 p-5 rounded-4">

        <form method="POST">

            {% csrf_token %}

            <div class="row">

                <div class="col-md-10">

                    <input
                        type="text"
                        name="message"
                        class="form-control form-control-lg"
                        placeholder="Ask something..."
                        required
                    >

                </div>

                <div class="col-md-2">

                    <button
                        class="btn btn-success btn-lg w-100"
                    >

                        Ask

                    </button>

                </div>

            </div>

        </form>

    </div>

    {% if response %}

        <div class="card shadow-lg border-0 p-5 rounded-4 mt-5">

            <h3>

                👨‍🍳 Chef Response

            </h3>

            <hr>

            <pre style="white-space: pre-wrap; font-size:18px;">

{{ response }}

            </pre>

        </div>

    {% endif %}

</div>

{% endblock %}